.container {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

.input-field {
  margin-bottom: 10px;
  padding: 5px;
}

.login-button {
  padding: 10px 20px;
  background-color: lightskyblue;
  color: white;
  border: none;
}

header {
  background-color: lightskyblue;
  color: white;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

footer {
  background-color: lightgrey;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.employeeTable {
  width: 100%;
  border-collapse: collapse;
}

.employeeTable th,
.employeeTable td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.employeeTable th {
  background-color: #f2f2f2;
}

.employeeTable tr:hover {
  background-color: #ddd;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

